body {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    background-image: url(https://wallpapers.com/images/hd/minecraft-grass-dbxcmhljbqezxxmc.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    color: #78B84F;
    width: 600px;
    border-radius: 20px;
    background-color: #22150de3;
    padding: 60px;
    text-align: center;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.remember {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    margin: 10px auto;
    max-width: 400px;
    color: #78B84F;
}


button {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    background-color: #3D3D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px auto;
    display: block;
}

a {
    color: #78B84F;
}
